**/__pycache__
*.py[cod]
*.egg*
*ipynb_checkpoints
build/
dist/
*.so
*.pyd

objects/
waveforms.db

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

.vscode/
.DS_Store

etc/*.bat
usr/python/*/*
# *.json
*.dat
*.log*
*.hdf*
*.db
!dev/common/QC/lib/*
!home/demo/